{% extends 'task_manager/index.html' %}
{% block content %}
          <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h3 align="center">Activity Stream</h3>
        {% for log in logs %}
        <div class="list-group">
        <a class="list-group-item" href="#">
            <h4 class="list-group-item-heading">{% if not log.user.first_name and not log.user.last_name %} {{ log.user }} {% endif %} {% if log.user.first_name and log.user.last_name %} {{ log.user.first_name }} {{ log.user.last_name }} {% endif %} at {{ log.timestamp }}</h4>
            <p class="list-group-item-text">{{ log.action }}</p>
        </a>
        </div>
        {% endfor %}
        </div><!-- /.blog-sidebar --></div>
{% endblock %}