body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.box td{
	padding: 10px 10px 10px 10px;

}
#blue{
	background-color: blue;
	color:white;
}
#orange{
	background-color: orange;
	color:white;
}
#red{
	background-color: red;
	color:white;
}
#green{
	background-color: green;
	color:white;
}
.left{
	text-align: left;
}
ul.connectedSortable {
    list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0;
}
#sidebar{
    position: relative;
    right: -50px;
    top: -57px;
}
.list-group-item{
	padding: 5px 5px;
}
.logItem{
	background-color: #F5F5DC;
	width: 270px;
}
.firstLetter{
	text-transform: capitalize;
}
.deleteBt{
	position: relative;
	top: -100px;
	right: -106px;
	margin-bottom: 0px;
}
.itemID{
	margin-bottom: -30px;
}
.decrease{
	padding: 0px;
	position: relative;
	top: -3px;
}